/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.lamberio-input{
    margin-bottom: 10px ;
}
.bg-blue{
    background: #e1e2e3;
}

/**********************Body************************/
body{
    font-family: 'Slabo 30px', serif;
    color: #ffffff;
    background: url(./././assets/img/header.jpg);
}


/*******************COLOR**********************/
.lb-bg-color-orange{
    background: #f05f40;
}
.lb-bd-orange{
    border: #f05f40;
}

.lb-cl-white{
    color: #ffffff !important;
}
.lb-cl-green{
    color: #34a853;
}
.lb-cl-red{
    color: #ea4335;
}

/************************NavBar ***********************************/
.navbar-nav>li>a{
    font-size: 16px;
    color: #ffffff !important;
}
.lb-data{
    margin-top: 55px;
}
.lb-nav{
    background: #f05f40
}